<!-- 	<div class="banner-background"></div>
	<div class="banner-content">
		<img class="img-circle" src = "https://i.scdn.co/image/dee4e367949ef63ca4f71f893e240828350cc44d">
		<h1>Artist Name</h1>
	</div>
 -->
<div class="main-content">
	<div id="bg">
		<div id="search-container">
			<div id="search-bg"></div>
			<div id="search">
				<img class="img-circle" ng-src ={{adc.spotify.images[2].url}}><h1 class="artist">{{adc.name}}</h1>
			</div>
		</div>
	</div>


	<div class="btn-group" uib-dropdown is-open="status.isopen">
		<domo-dropdown class="dropdown-bar-adjust" header="Territory" placeholder="Territory" list="adc.territories" selected="adc.selected_territory"></domo-dropdown>
		<domo-dropdown class="dropdown-bar-adjust" header="Time Period" placeholder="Time Period" list="adc.time" selected="adc.selected_time"></domo-dropdown>
	</div>

	<hr>

	<div class = "container">
		<div class = "col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading"> Overview Metrics for Period </div>
				<div class="panel-body overview">
					<div class="col-md-4 stat-label">
						Total Streams: <span class="stat">{{adc.details[adc.selected_territory][0].type_metrics.streams_total}}</span>
					</div>
					<div class="col-md-4 stat-label">
						Popularity: <span class="stat">{{adc.spotify.popularity}}</span>
					</div>
					<div class="col-md-4 stat-label">
						Total Followers: <span class="stat">{{adc.spotify.followers.total}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "container">	
		<div class = "col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"> Overview Metrics for Period </div>
				<div class="panel-body">
					<canvas ng-if="adc.details[adc.selected_territory]" id="pie" class="chart chart-pie" chart-data="adc.details[adc.selected_territory][0].type_metrics.data" chart-labels="adc.details[adc.selected_territory][0].type_metrics.labels" chart-options="options"></canvas>
				</div>
			</div>
		</div>
		<div class = "col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"> Source of Streams</div>
				<div class="panel-body">
					<canvas id="HorizontalBar" class="chart chart-horizontalBar" chart-data="adc.details[adc.selected_territory][0].source_metrics.data" chart-labels="adc.details[adc.selected_territory][0].type_metrics.labels" chart-series="adc.details[adc.selected_territory][0].source_metrics.series"></canvas> 
				</div>
			</div>
		</div>
		<div class = "col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"> Gender </div>
				<div class="panel-body">
					<canvas ng-if="adc.details[adc.selected_territory]" id="doughnut" class="chart chart-doughnut" chart-data="adc.details[adc.selected_territory][0].gender_metrics.data" chart-labels="adc.details[adc.selected_territory][0].gender_metrics.labels" chart-options="options"></canvas>
				</div>
			</div>	
		</div>
		

		<div class="code"><pre>{{adc.details[adc.selected_territory][0]| json}} </pre><pre>{{adc.spotify | json}}</pre></div>

	</div>
</div>
