	<!-- Navigation Bar -->
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-right navbar-form">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
			  			<input type="text" class="form-control" placeholder="Search" ng-model="search_box">
					</div>
		  		</form>
			</div>
	  	</div><!-- /.container-fluid -->
	</nav>
	


<!-- 	<div class="banner-background"></div>
	<div class="banner-content">
		<img class="img-circle" src = "https://i.scdn.co/image/dee4e367949ef63ca4f71f893e240828350cc44d">
		<h1>Artist Name</h1>
	</div>
 -->
<div id="bg">
	<div id="search-container">
		<div id="search-bg"></div>
		<div id="search">
			<img class="img-circle" src = "https://i.scdn.co/image/32e13d2c37af4817d1cbf09742c1f51a328820c7"><h1 class="artist">Artist Name</h1>
		</div>
	</div>
</div>


<div class="btn-group" uib-dropdown is-open="status.isopen">
	  <!-- <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
		Year <span class="caret"></span>
	  </button> -->
	  <!-- <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
		<li ng-repeat="tile in tiles | unique:'Week'"><a href="#">{{tile.Week}}</a></li>
	  </ul> -->
	  <select class="styled-select blue semi-square" ng-options="tile.Week as 'Week '+tile.Week for tile in tiles | unique:'Week'" ng-model="weekfilter"></select>
	  <select class="styled-select blue semi-square" ng-options="tile.Week as 'Week '+tile.Week for tile in tiles | unique:'Week'" ng-model="workstream"></select>
</div>



<div class = "container">
	<div class = "col-md-4">
	Graph 1
	</div>
	<div class = "col-md-4">
	Graph 2
	</div>
	<div class = "col-md-4">
	Graph 3
	</div>
</div>
