<div class="domo-dropdown-container">
	<p class="domo-dropdown-header">{{ddc.header.toUpperCase()}}</p>
	<div class="domo-dropdown-display" ng-click="ddc.toggle();" ng-class="{'clicked': ddc.listVisible}">
		<span ng-class="{'placeholder': !ddc.display}">{{ddc.selected || ddc.placeholder}}</span> 
		<i class="fa fa-chevron-down" aria-hidden="true"></i>
	</div>
	<div class="domo-dropdown-list-container" ng-class="{'show': ddc.listVisible}">
		<div class="domo-dropdown-list">
			<ul>
				<li ng-repeat="item in ddc.list track by $index" ng-click="ddc.select(item)" ng-class="{'selected': ddc.selected === item}">
					<span>{{ddc.property ? item[ddc.property] : item}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>
