<div class="main-search text-center">
	<div class="main-search-icon search">
		<i class="fa fa-search" aria-hidden="true"></i>
	</div>

	<input type="text" class="main-search-input" placeholder="Search..." ng-model="sc.search_text" ng-change="sc.getSwiftSearchResults()">

	<div class="main-search-icon clear">
		<i class="fa fa-times-circle" aria-hidden="true" ng-click="sc.search_text = ''" ui-sref="overview"></i>
	</div>
</div>

<div class="main-search-overlay" ng-class="{show: sc.search_text.length > 0}" stop-propagation>
	<div class="result-section result-1" ng-class="{show: sc.search_text.length > 0}">
		<h2>Top Results</h2>
		<div class="results">
			<div class="result" ng-repeat="artist in sc.artists" ng-click="sc.goToDetail(artist)">
				<div class="picture-placeholder"></div>
				<h3 class="top-result-main"><a href="">{{artist.artist_name}}</a></h3>
				<h3 class="top-result-sub">Artist</h3>
			</div>
			<div class="loader" ng-if="sc.loading.artists"></div>
			<h4 class="no-results" ng-if="!sc.loading.artists && sc.artists.length === 0">(No results found)</h4>
		</div>
	</div>

	<div class="result-section result-2" ng-class="{show: sc.search_text.length > 0}">
		<h2>Albums</h2>
		<div class="results">
			<!-- <div class="result" ng-repeat="artist in sc.artists">
				{{artist}}
			</div> -->
			<div class="loader" ng-if="sc.loading.albums"></div>
		</div>
	</div>

	<div class="result-section result-3" ng-class="{show: sc.search_text.length > 0}">
		<h2>Songs</h2>
		<div class="results">
			<div class="result song-result" ng-repeat="song in sc.songs">
				<h3 class="song-result-main"><a href="">{{song.resource_title}}</a></h3>
				<h3 class="song-result-sub">{{song.canopus_artist_name}}</h3>
			</div>
			<div class="loader" ng-if="sc.loading.songs"></div>
			<h4 class="no-results" ng-if="!sc.loading.songs && sc.songs.length === 0">(No results found)</h4>
		</div>
	</div>
</div>